import React, { Component } from 'react';
import ReactDOM from 'react-dom';

import {{exposedComponent}} from '../../lib/index';

class App extends Component {

  click() {
    alert('Roger that !');
  }

  render() {
    return (
      <div className='example'>
        <h1>{{name}}</h1>
        <{{exposedComponent}} click={ this.click } name='Click me'/>
      </div>
    );
  }

}

ReactDOM.render(<App/>, document.getElementById('container'));
